.products {
	margin: 5rem 0;

	h1 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 2rem;
	}

	.swiper {
		height: 70vh;
		width: 90%;
		margin: 0 auto;
		padding: 1em;
	}
	.swiper-slide {
		padding: 2em;
		height: 90%;

		&:hover {
			box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.25);
		}
	}

	.swiper-button-prev:after,
	.swiper-button-next:after {
		font-size: 1rem;
		font-weight: bold;
		color: #000;
	}
	.swiper-pagination-bullet-active {
		background-color: #000;
	}
	.product-slide-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		.product-details-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			.product-details {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;

				h3 {
					font-size: 0.9rem;
					font-weight: 500;
					text-transform: uppercase;
				}
				p {
					font-size: 0.9rem;
				}
			}

			.product-icon-container {
				background-color: #000;
				padding: 0.8em;
				cursor: pointer;

				&:hover,
				&:focus {
					background-color: #007bff;
				}

				.product-icon {
					color: #fff;
				}
			}
		}
	}

	.product-slide-image {
		width: 100%;
		height: 50%;
		object-fit: contain;
		object-position: center;
	}
}
