.cart-icon-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.bag-icon {
		color: #fff;
		width: 1.8rem;
		height: 1.8rem;
	}

	.item-count {
		position: absolute;
		font-size: 0.75rem;
		bottom: 9px;
		color: #fff;
		font-weight: bold;
	}
}
