.modal-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.25);
	width: 25vw;
	padding: 2em 1.5em;
}

.modal-header {
	margin-bottom: 2rem;
	.header_one {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;

		h2 {
			font-weight: 400;
			font-size: 1.2rem;
		}

		.close-icon {
			width: 1.8rem;
			height: 1.8rem;
			cursor: pointer;
			border-radius: 8px;
			padding: 0.3em;

			&:hover {
				background-color: #f8f9fa;
			}
		}
	}

	.header_two {
		position: relative;
		display: flex;
		gap: 3.5rem;
		border-bottom: 2px solid #ced4da;
		padding-bottom: 0.2em;

		.link-box {
			position: relative;
			display: inline-block;

			.sign-in,
			.sign-up {
				font-size: 1rem;
				color: #495057;
				text-transform: uppercase;

				&:focus,
				&:active,
				&:hover {
					color: #000;
				}
				&:focus::after,
				&:active::after {
					width: 100%;
				}

				&::after {
					content: '';
					display: block;
					position: absolute;
					height: 2px;
					z-index: 3;
					bottom: -0.35rem;
					width: 0%;
					background-color: #000;
					transition: all ease-in-out 200ms;
				}
			}
		}
	}
}
