.shop-womens {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../../assets/images/shop-cards/womens.jpg') center/cover no-repeat;
}

.shop-mens {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../../assets/images/shop-cards/mens.jpg') center/cover no-repeat;
}
.shop-kids {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../../assets/images/shop-cards/kids.jpg') center/cover no-repeat;
}
.shop-shoes {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../../assets/images/shop-cards/shoes.jpg') center/cover no-repeat;
}
.shop-beauty {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../../assets/images/shop-cards/beauty.jpg') center/cover no-repeat;
}
.shop-accessories {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('../../assets/images/shop-cards/accessories.jpg') center/cover no-repeat;
}
