.checkout-item {
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
	text-align: center;
	height: 8rem;
	padding: 1em 0;
	margin-bottom: 2rem;
	border-bottom: 1px solid #ccc;
	.image-container {
		width: 3rem;
		img {
			width: 100%;
		}
	}

	.item-details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.name {
			color: #014ba0;
			text-transform: capitalize;
			&:hover {
				font-style: italic;
			}
		}

		.quantity-control-container {
			flex-direction: row;
		}
	}

	.item-total {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-size: 1rem;
		font-weight: bold;

		.clear {
			width: 1.8rem;
			height: 1.8rem;
			cursor: pointer;
			border-radius: 5px;
			padding: 0.3em;

			&:hover {
				background-color: #f5f5f5;
			}
		}
	}

	@media screen and (max-width: 26em) {
		font-size: 0.8rem;
	}
}
