.swiper {
	width: 100%;
	height: 100vh;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100vh;
	object-position: center;
	object-fit: cover;
}
.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 2rem;
}
