form {
	height: 17rem;
	overflow-y: scroll;
	padding: 0 0.1rem;

	@media only screen and (max-width: 33em) {
		overflow: unset;
	}
	.form-group {
		label {
			font-size: 0.9rem;
		}
		.form-input {
			display: block;
			font-family: inherit;
			width: 100%;
			padding: 1em 0.5em;
			margin: 0.7rem 0 1.4rem 0;
			border: 1px solid #ced4da;
			border-radius: 3px;
			font-size: 0.9rem;

			&:focus {
				outline: 1px solid #000;
			}
		}
	}
	.buttons-container {
		.sign-in-button,
		.sign-in-google {
			width: 100%;
			font-size: 0.9rem;
			text-align: center;
			cursor: pointer;
			font-family: inherit;
			padding: 1em 0.5em;
			border-radius: 3px;
		}
		.sign-in-button {
			background-color: #000;
			color: #fff;
			margin-bottom: 0.7rem;

			&:hover {
				background-color: #212529;
			}
		}

		.sign-in-google {
			background-color: #fff;
			display: flex;
			align-items: center;

			span {
				font-weight: bold;
				flex-grow: 2;
			}

			.google-icon {
				width: 1.5rem;
				height: 1.5rem;
				margin-left: 0.5rem;
			}
			&:hover {
				background-color: #f1f3f5;
			}
		}
	}
	.new-user {
		text-align: center;
		margin-top: 2rem;
		text-decoration: underline;
		cursor: pointer;

		&:hover {
			color: #495057;
		}
	}
}
